@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
/* Theming */
.red {
  background-color: #FF99C8;
}

.yellow {
  background-color: #FCF6BD;
}

.green {
  background-color: #D0F4DE;
}

.blue {
  background-color: #A9DEF9;
}

.purple {
  background-color: #E4C1F9;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

* *:focus {
  outline: none;
}

*::-moz-selection {
  background: #A9DEF9;
}

*::selection {
  background: #A9DEF9;
}

html {
  font-size: 1em;
}

body {
  color: #000;
  text-align: center;
  background-color: #F6F6FF;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  font-weight: 500;
  font-size: 2rem;
}

h3 {
  font-weight: 500;
  font-size: 1.4rem;
}

h4 {
  font-weight: 700;
  font-size: 1.5rem;
}

a {
  color: inherit;
}

.start-page-full-height {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-and-headline-container {
  height: 28.125rem;
  width: 50.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 1rem;
}

.headline {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  top: 0.5rem;
}

.buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  position: relative;
  top: 5rem;
  width: 70rem;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-item {
  font-weight: 700;
  font-size: 1rem;
}

.nav-item *:hover {
  color: #66BFEC;
}

.second-headline {
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-column: 4 / 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: transparent;
  margin-bottom: 5rem;
  margin-top: 8rem;
}

.second-headline > * {
  margin: 0.625rem;
}

main {
  background-color: white;
  height: 120rem;
  border-radius: 80px 80px 0 0;
  padding: 8rem;
}

footer {
  background-color: #707070;
  height: 18rem;
}

.search-bar {
  width: 810px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-icon {
  visibility: hidden;
  position: relative;
  top: 22px;
  left: -60px;
}

.search-bar > input {
  color: #808080;
  background: #fff;
  border: none;
  -webkit-transition: all 240ms ease-in-out;
  transition: all 240ms ease-in-out;
  border-radius: 20px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  height: 64px;
  padding: 0 40px 0 40px;
  -webkit-box-shadow: 20px 20px 50px rgba(169, 222, 249, 0.45);
          box-shadow: 20px 20px 50px rgba(169, 222, 249, 0.45);
  font-size: 18px;
}

.search-bar > input:focus {
  -webkit-box-shadow: 20px 20px 55px rgba(169, 222, 249, 0.2);
          box-shadow: 20px 20px 55px rgba(169, 222, 249, 0.2);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  outline: none !important;
}

#btn-rus {
  background-color: transparent;
  background-image: url(/images/russia.svg);
  background-size: cover;
  height: 30px;
  width: 30px;
  border: none;
  -webkit-transition: all .05s;
  transition: all .05s;
}

#btn-rus:hover {
  outline: none;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#btn-rus:active {
  outline: none;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

#btn-uz {
  background-color: transparent;
  background-image: url(/images/uzbekistan.svg);
  background-size: cover;
  height: 30px;
  width: 30px;
  border: none;
  -webkit-transition: all .05s;
  transition: all .05s;
}

#btn-uz:hover {
  outline: none;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#btn-uz:active {
  outline: none;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.bestsellers {
  height: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bestsellers-headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 14rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.splide__slide {
  padding: 2.5rem 2.5rem 1em 2.5rem;
  margin: 2rem 0 3rem 5rem !important;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.card-image-container {
  width: 100%;
  height: 62.5%;
  border-radius: 20px 20px 0 0;
}

.card-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 30%;
  border-radius: 0 0 20px 20px;
  padding-top: 2.5rem;
}

.name-price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 40%;
}

.name {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.oldprice {
  font-size: 1rem;
  color: #808080;
  text-decoration: line-through;
}

.price {
  font-size: 1.3rem;
  font-weight: 600;
}

.geo-shop-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.geo {
  font-size: 0.8rem;
  color: #808080;
}

.geo-icon {
  width: 1rem;
  height: 1rem;
  background-image: url(/images/geo-icon.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.shop {
  font-size: 0.8rem;
  color: #808080;
}

.add-to-cart-btn {
  width: 10rem;
  height: 2.5rem;
  background: #A9DEF9;
  border-radius: 30px;
  margin: 0 auto;
  -webkit-transition: all .0150s ease-in-out;
  transition: all .0150s ease-in-out;
  border: none;
}

.add-to-cart-btn:hover {
  outline: none;
  -webkit-box-shadow: 2px 15px 30px -5px rgba(0, 0, 0, 0.07);
          box-shadow: 2px 15px 30px -5px rgba(0, 0, 0, 0.07);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.add-to-cart-btn:active {
  outline: none;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

#product-camera-pic {
  background-image: url(/images/camera.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#product-case-pic {
  background-image: url(/images/case.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#product-sneakers-pic {
  background-image: url(/images/sneakers.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#product-watch-pic {
  background-image: url(/images/watch.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#flame-icon {
  width: 2.2rem;
  height: 2.2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-1 {
  width: 10.625rem;
  height: 3.75rem;
  cursor: pointer;
  border-radius: 35px;
  background: #fff;
  -webkit-box-shadow: 20px 20px 50px rgba(169, 222, 249, 0.2);
          box-shadow: 20px 20px 50px rgba(169, 222, 249, 0.2);
  -webkit-transition: all .05s ease-in-out;
  transition: all .05s ease-in-out;
  border: none;
}

.btn-1:hover {
  outline: none;
  -webkit-box-shadow: 20px 20px 50px rgba(169, 222, 249, 0.1);
          box-shadow: 20px 20px 50px rgba(169, 222, 249, 0.1);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  color: #66BFEC;
}

.btn-1:active {
  outline: none;
  -webkit-box-shadow: 20px 20px 50px rgba(169, 222, 249, 0.25);
          box-shadow: 20px 20px 50px rgba(169, 222, 249, 0.25);
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}
/*# sourceMappingURL=style.css.map */