@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap')

/* Theming */

$primary-color: #A9DEF9
$secondary-color: #FF99C8
$bg-color: #F6F6FF
$red: #FF99C8
$yellow: #FCF6BD
$green: #D0F4DE
$blue: #A9DEF9
$purple: #E4C1F9

.red
    background-color: $red

.yellow
    background-color: $yellow

.green
    background-color: $green

.blue
    background-color: $blue

.purple
    background-color: $purple

@mixin click-transform
    transition: all .0150s ease-in-out
    border: none

    &:hover
        outline: none
        box-shadow: 2px 15px 30px -5px rgba(0, 0, 0, 0.1)
        transform: scale(1.02)
    &:active
        outline: none
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07)
        transform: scale(.99)

.disable-select
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

*
    padding: 0
    margin: 0
    text-decoration: none
    font-family: 'Montserrat', sans-serif

    *:focus
        outline: none

    &::selection
        background: #A9DEF9

html
    font-size: 1em

body
    color: #000
    text-align: center
    background-color: $bg-color

h1
    font-weight: 700
    font-size: 2.5rem

h2
    font-weight: 500
    font-size: 2rem

h3
    font-weight: 500
    font-size: 1.4rem

a
    color: inherit

.start-page-full-height
    height: 100vh
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.search-and-headline-container
    height: 28.125rem
    width: 50.625rem
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    position: relative
    top: 1rem

.headline
    font-size: 1rem
    font-weight: 400
    position: relative
    top: 0.5rem

.buttons-container
    display: flex
    width: 25rem
    justify-content: space-between

.content
    margin: 0 auto

.content > *
    padding: 1.8rem

nav
    position: relative
    top: 5rem
    width: 70rem

.nav-list
    display: flex
    flex-direction: row
    list-style: none
    width: 100%
    justify-content: space-between

.nav-item
    font-weight: 700
    font-size: 1rem

.second-headline
    grid-column: 4 / 10
    display: flex
    flex-direction: column
    flex-wrap: wrap
    justify-content: space-around
    background-color: transparent

.second-headline > *
    margin: 0.625rem

main
    background-color: white
    height: 120rem
    border-radius: 80px 80px 0 0

footer
    background-color: #707070
    height: 18rem

.search-bar
    width: 810px
    display: flex
    flex-direction: row

    &::focus
        outline: none !important
        border: 100px solid blue

.search-icon
    visibility: hidden
    position: relative
    top: 22px
    left: -60px

.search-bar > input
    color: #808080
    background: #fff
    border: none
    transition: all 240ms ease-out
    border-radius: 20px
    flex-grow: 2
    height: 64px
    padding: 0 40px 0 40px
    box-shadow: 20px 20px 50px rgba(169, 222, 249, 0.25)
    font-size: 18px

    &:focus
        box-shadow: 20px 20px 55px rgba(169, 222, 249, 0.6)
        transform: scale(1.01)

#btn-rus
    background-color: transparent
    background-image: url(/images/russia.svg)
    background-size: cover
    height: 30px
    width: 30px
    border: none
    transition: all .05s

    &:hover
        outline: none
        transform: scale(1.03)

    &:active
        outline: none
        transform: scale(0.98)

#btn-uz
    background-color: transparent
    background-image: url(/images/uzbekistan.svg)
    background-size: cover
    height: 30px
    width: 30px
    border: none
    transition: all .05s

    &:hover
        outline: none
        transform: scale(1.03)

    &:active
        outline: none
        transform: scale(0.98)

.btn-1
    width: 10.625rem
    height: 3.75rem
    cursor: pointer
    border-radius: 35px
    background: #fff
    box-shadow: 20px 20px 50px rgba(169, 222, 249, 0.2)

    transition: all .05s ease-in-out
    border: none

    &:hover
        outline: none
        box-shadow: 20px 20px 50px rgba(169, 222, 249, 0.1)
        transform: scale(1.03)
    &:active
        outline: none
        box-shadow: 20px 20px 50px rgba(169, 222, 249, 0.25)
        transform: scale(.98)
